@@keyframes pulse-red {
    0% {
        box-shadow: 0 0 0 0 rgba(220, 53, 69, 0.4);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(220, 53, 69, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(220, 53, 69, 0);
    }
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}


        body.dark .card {
            background-color: #1e1e1e;
            color: #e0e0e0;
        }

        body.dark .navbar {
            background-color: #1e1e1e !important;
        }

        body.dark .text-muted {
            color: #a0a0a0 !important;
  }

body {
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-bottom: 60px;
}
body.dark {
        background-color: #121212;
        color: #e0e0e0;
   }

body.white {
        background-color: white;
        color: black;
}
.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
/*  taches terminated */
.barre {
    opacity: 0.7;
    background-color: #f8f9fa;
}

    .barre .card-title {
        text-decoration: line-through;
        color: #6c757d; /* Gris */
    }

/* en retard */
.depasser {
    border-left: 5px solid #dc3545; /* Barre rouge à gauche */
    animation: pulse-red 2s infinite;
}
